<div class="about-container">
    <%= image_tag 'port-myself.jpeg', class: 'profile-img' %>
    <div class="about-text">
        <p>About</p>
        <p>Webエンジニア</p>
        <p>こんにちは。ポートフォリオを閲覧してくださってありがとうございます。お客様とコミュニケーションを大切にし、納得のいくデザイン、webサイトをお届けいたします。<br>
            
            <span>「また、一緒にお仕事をしたい」</span> <br>
            
            そう思っていただけるwebエンジニアを目指しています。
        </p>
        <button>Contact Me</button>
    </div>
</div>
<div class="service">
    <p>Service</p>    
    <div class="box-container">
        <div class="box-1">
            <p>コーディング</p>
            <%= image_tag 'icon-programing.png' %>
            <p>googleのスタイルガイドに則ったseo対策をしたコーディング、さらにはスマホのレスポンシブ化もお任せください。</p>
        </div>
        <div class="box-2">
            <p>バナー・名刺</p>
            <%= image_tag 'icon-identification.png' %>
            <p>会社や個人の名刺から、サイトやSNSに掲載するバナーまでAiやPsでお作りいたします。お気軽にご相談ください。</p>
        </div>
        <div class="box-3">
            <p>Wordpress制作</p>
            <%= image_tag 'icon-wordpress.png' %>
            <p>wordpressを使用した素早いサイト制作、さらにお客様にあった最適なテーマをご提案させていただきます。</p>
        </div>
    </div>
</div>
<div class="work">
    <p>Work</p>    
    <div class="box-container">
        <div class="work-box4">
            <div class="box-4">
                <a href="https://flamboyant-wescoff-fdf650.netlify.app"><%= image_tag 'thumbnail.png' %></a>
            </div>
            <p>@samuraibrassの作成したデザインカンプからコーディングしております。(jquery,Javascriptもコーディング済みです。)</p>  
        </div>
        <div class="work-box5">
            <div class="box-5">
                <a href="https://www.instagram.com/hana__design0505/"><%= image_tag 'art-board.png' %></a>
            </div> 
            <p>Instagramに掲載しているデザインのPortfolioです。これからお客様からのご依頼や、自主制作を進めて投稿を増やしていく予定です。</p>
        </div>
    </div>
</div>